@import './variables.css';

/* debug */
/* svg {
  border: 3px solid red;
} */

/* debug */
/* .viz {
  outline: 3px solid steelblue;
} */


#root {
  position: relative;
}

button,
text {
  font-family: var(--typography-font-family-primary);
}

h1,
h2,
p {
  font-family: var(--typography-font-family-secondary);
}

.bar:hover {
  cursor: pointer;
  fill: white;
}

.dataOccurrences {
  background-color: var(--colors-data-occurrences);
  fill: var(--colors-data-occurrences);
}

.dataOccurrences:hover {
  box-shadow: 0 0 1rem 0.5rem var(--colors-data-occurrences);
}

.comments {
  background-color: var(--colors-comments);
  fill: var(--colors-comments);
}

.comments:hover {
  box-shadow: 0 0 1rem 0.5rem var(--colors-comments);
}

.upvotes {
  background-color: var(--colors-upvotes);
  fill: var(--colors-upvotes);
}

.upvotes:hover {
  box-shadow: 0 0 1rem 0.5rem var(--colors-upvotes);
}

.upvotesPercentage {
  background-color: var(--colors-upvotes-percentage);
  fill: var(--colors-upvotes-percentage);
}

.upvotesPercentage:hover {
  box-shadow: 0 0 1rem 0.5rem var(--colors-upvotes-percentage);
}

.axis {
  font-family: var(--typography-font-family-secondary);
}

.axis-x,
.axis-y {
  font-size: 1rem;
}

.axis-x-text,
.axis-y-text {
  font-size: 2rem;
  stroke: black;
}

@media only screen and (max-width: 768px) {
  .axis-x-text,
  .axis-y-text {
  font-size: 1.5rem;
  stroke: black;
}
}
